@charset "UTF-8";

@media screen and (max-width: 680px) {

    .cursor-dot,
    .cursor-outline {
        display: none;
    }

    header {
        position: absolute;
        width: auto;
        left: 40%;
    }

    header.rolagem {
        background-color: transparent;
        backdrop-filter: blur(0px);
    }

    #itens {
        display: none;
    }





    #home {
        padding-right: 10%;
    }





    #divAboutMeContainer {
        text-align: center;
        flex-direction: column;
        margin-bottom: 20%;
    }

    #divAboutMe {
        margin: auto;
        margin-top: 15%;
    }

    #imageAnime {
        position: relative;
        top: 0;
        left: 5%;
    }

    #myPhoto {
        position: relative;
        top: -90%;
        left: 8%;
    }
}